extends layout
block content
  h1= 'Hello Please Enter your Vote:'
  
   #container.container
     button#button3(class="button") 3
     button#button5(class="button") 5
     button#button8(class="button") 8
   
   script(src="/javascripts/clientApp.js")