extends layout
block content
  h1= 'Hello Please Enter your Vote:'
  
   #container.container
     button.button(class="button") 3
     button.button(class="button") 5
     button.button(class="button") 8
   
   script(src="/javascripts/clientApp.js")